@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

body {
  font-family: Lato, sans-serif;
}

h1 {
  color: white;
}

.mainheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkslategrey;
  width: 100%;
  height: 20vh;
  min-height: 50px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.grid-container {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (30%)[8];
      grid-template-rows: repeat(8, 30%);
  gap: 20px;
  width: 100%;
  height: 80vh;
}

.img1 {
  background: url("pics/holyfawn.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
<<<<<<< HEAD
  background-position: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
=======
  background-position: center top;
>>>>>>> 6337b380f0c049341a5b3f685bda1cd6c4cf57a1
  grid-area: 1/1/3/5;
}

.img2 {
  background: url("pics/tool.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
<<<<<<< HEAD
  background-position: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
=======
  background-position: center top;
>>>>>>> 6337b380f0c049341a5b3f685bda1cd6c4cf57a1
  grid-area: 1/5/5/9;
}

.img3 {
  background: url("pics/russiancircles.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
<<<<<<< HEAD
  background-position: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
=======
  background-position: center top;
>>>>>>> 6337b380f0c049341a5b3f685bda1cd6c4cf57a1
  grid-area: 3/1/5/3;
}

.img4 {
  background: url("pics/uncleacid.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
<<<<<<< HEAD
  background-position: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
=======
  background-position: center top;
>>>>>>> 6337b380f0c049341a5b3f685bda1cd6c4cf57a1
  grid-area: 3/3/5/5;
}

.img5 {
  background: url("pics/mastodon.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
<<<<<<< HEAD
  background-position: center;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
=======
  background-position: center top;
>>>>>>> 6337b380f0c049341a5b3f685bda1cd6c4cf57a1
  grid-area: 5/1/7/5;
}

.img6 {
  background: url("pics/elder.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
<<<<<<< HEAD
  background-position: center;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
=======
  background-position: center top;
>>>>>>> 6337b380f0c049341a5b3f685bda1cd6c4cf57a1
  grid-area: 5/5/7/9;
}

.maintext {
  padding: 10px 0;
  color: white;
  font-weight: bold;
  font-size: 2em;
  background-color: rgba(197, 197, 197, 0.4);
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

<<<<<<< HEAD
.maintext:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */
=======
.images:hover .maintext {
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(21, 30%);
  }

  .img1 {
    grid-area: 1/1/3/5;
  }

  .img2 {
    grid-area: 3/1/9/5;
  }

  .img3 {
    grid-area: 9/1/13/3;
  }

  .img4 {
    grid-area: 9/3/13/5;
  }

  .img5 {
    grid-area: 13/1/17/5;
  }

  .img6 {
    grid-area: 17/1/21/5;
  }
}
@media screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 30%);
  }

  .img1 {
    grid-area: 1/1/3/3;
  }

  .img2 {
    grid-area: 3/1/5/3;
  }

  .img3 {
    grid-area: 5/1/7/3;
  }

  .img4 {
    grid-area: 7/1/9/3;
  }

  .img5 {
    grid-area: 9/1/11/3;
  }

  .img6 {
    grid-area: 11/1/13/3;
  }
}/*# sourceMappingURL=style.css.map */
>>>>>>> 6337b380f0c049341a5b3f685bda1cd6c4cf57a1
